* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
/*greek exclamation mark prank ; */

.section {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 0px !important; /*co to kurva prepisuje???*/
}

.homepage {
  background-image: url("/source/images/slide-1.jpg");
  background-size: cover;
}
.faq {
  background-image: url("source/images/bg-pattern-1.jpg");
  background-size: cover;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.top {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 40px;
  width: 100%;
  justify-content: space-around;
}

.contact p {
  color: white;
}

.logo img {
  height: 27px;
}

.settings {
  display: flex;
  color: white;
  justify-content: flex-end;
}

.settings span {
  padding: 10px;
}

.topnav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 15px;
}

.topnav {
  margin: 40px auto;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
  border-top: 0.5px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
}

.topnav a:hover {
  color: yellow;
}

.topnav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.topnav li {
  margin: 0 15px;
}

.container2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  align-items: stretch;
}

.text {
  color: white;
  font-size: 35px;
  /*margin-top: 40px;*/
  margin-bottom: 25px;
}

.text2 {
  color: white;
  font-size: 25px;
  margin-bottom: 40px;
}

.button button {
  align-items: center;
  background-color: #ffeb39;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.button button:hover {
  background-color: #fae41f;
  cursor: pointer;
}

.button button:active {
  background-color: #f7c600;
  cursor: default;
}

.settings span:hover {
  color: yellow;
  cursor: pointer;
}

.settings span:active {
  color: #fae41f;
  cursor: default;
}

.container3 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.content3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*align-items: center;*/
  margin: auto;
}

.content3-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}

.content3-left-up {
  display: flex;
  border-bottom: 0.5px solid #77aa6f70;
  height: 50%;
  margin: 0px auto;
}

.content3-left-up h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: end;
}

.content3-left-up p {
  text-align: end;
  font-size: 15px;
}

.content3-left-up span {
  background-color: #77aa6f;
  color: white;
  border-radius: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 75px !important;
  font-weight: lighter;
  margin-left: 20px;
}

.content3-left-down {
  display: flex;
}

.content3-left-down h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: end;
}

.content3-left-down p {
  text-align: right;
  font-size: 15px;
}

.content3-left-down span {
  background-color: #77aa6f;
  color: white;
  border-radius: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 75px !important;
  font-weight: lighter;
  margin-left: 20px;
}

.content3-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}

.content3-right-up {
  display: flex;
  border-bottom: 0.5px solid #77aa6f70;
  height: 50%;
  margin: 0px auto;
}

.content3-right-up h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.content3-right-up p {
  text-align: left;
  font-size: 15px;
}

.content3-right-up span {
  background-color: #77aa6f;
  color: white;
  border-radius: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 75px !important;
  font-weight: lighter;
  margin-right: 20px;
}

.content3-right-down {
  display: flex;
}

.content3-right-down h2 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.content3-right-down p {
  text-align: left;
  font-size: 15px;
}

.content3-right-down span {
  background-color: #77aa6f;
  color: white;
  border-radius: 100%;
  display: inline-block;
  padding: 5px;
  font-size: 75px !important;
  font-weight: lighter;
  margin-right: 20px;
}

.container4 {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.flavors {
  margin: 30px auto;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.products-grid > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 245, 1);
  /* padding-top: 20px; */
  padding-bottom: 20px;
}

.products-grid img {
  margin-top: 40px;
}

.mango img,
.strawberry img,
.carrots img,
.guava img,
.bananas img {
  margin-top: 0px;
}

.products-grid h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

.products-grid p {
  font-size: 13px;
  color: #96bd91;
  font-weight: bold;
  margin-bottom: 10px;
}

.tag-sale p {
  display: flex;
  flex-wrap: nowrap;
  background-color: #f96666;
  color: white !important;
  border-radius: 5px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  margin-right: 20px;
  margin-left: 140px;
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.tag-new p {
  display: flex;
  background-color: #94a6ab;
  color: white !important;
  border-radius: 5px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  margin-right: 20px;
  margin-left: 140px;
  margin-top: 10px;
  margin-bottom: 10px !important;
}

.price {
  display: flex;
}
.strike p {
  color: #969696;
  margin-right: 10px;
}
